<app-header></app-header>
<!-- Hero section-->
<section class="bg-darker bg-size-cover bg-position-center py-5 py-lg-10" style="background-image: url(assets/img/food-delivery/hero-bg.png);">
    <div class="container pb-1">
        <div class="row justify-content-center pb-1">
            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-center">
                <div class="h2 text-light mb-3 pb-4">Plataforma E-learning para el Estudio &amp; Repaso de temas en ingenieria de software
                    <div class="dropdown d-inline-block ms-1"><a class="dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown">T-Educa</a>
                           </div>
                </div>
                <a class="btn btn-primary" href="javascript:void(0)" [ngxScrollTo]="'#cuisine'" data-scroll>Recursos de Estudio</a>
            </div>
        </div>
    </div>
</section>
<!-- Categories (cuisine) grid-->
<section class="container py-4 my-lg-3 py-sm-5" id="cuisine">
    <h2 class="text-center pt-4 pt-sm-3">Categorias</h2>
    <p class="text-muted text-center mb-5">Encontraras diferentes contenidos educativos para facilitar mas tu comprencion de los temas</p>
    <div class="row">
        @for(cat of category;track $index){
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 shadow" routerLink="/category"><img class="card-img-top" src="{{cat.img}}" alt="Burgers &amp; Fries">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">{{cat.title}}</h3>
                </div>
            </a>
        </div>
    }
    </div>
</section>
<!-- Mobile app CTA-->
<!-- <section class="bg-primary bg-size-cover bg-position-center pt-5" style="background-image: url(assets/img/food-delivery/mobile-app-bg.jpg);">
    <div class="container pt-2 pt-sm-0">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-5 col-sm-6 offset-xl-2 offset-lg-1 mt-md-n5 text-center text-sm-start">
                <h2 class="text-light mb-3">Order food on the go with Cartzilla App</h2>
                <p class="text-light opacity-70 mb-0 d-block d-sm-none d-md-block">Pay with in app wallet, collect
                    loyalty points, track your orders in real time and much more.</p>
                <div class="mt-4 pt-2"><a class="btn-market btn-apple me-3 mb-2" href="javascript:void(0);" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App
                            Store</span></a><a class="btn-market btn-google mb-2" href="javascript:void(0);" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google
                            Play</span></a></div>
            </div>
            <div class="col-lg-5 col-sm-6 offset-lg-1 pt-5 pt-sm-3"><img class="d-block mx-auto mx-sm-0" src="assets/img/food-delivery/phone.png" width="331" alt="Mobile App Screen"></div>
        </div>
    </div>
</section> -->
<!-- Popular restaurants logo grid-->
<!-- Reviews-->
<section class="bg-secondary py-5">
    <section class="container py-4 my-lg-3 py-sm-5" id="cuisine">
        <h2 class="text-center pt-4 pt-sm-3">Cursos</h2>
        <div class="row">
            @for(course of courses;track $index){
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow" routerLink="/category/{{course.idRecurso}}"><img class="card-img-top" src="{{course.img}}" alt="{{course.descripcion}}">
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">{{course.nombreRecurso}}</h3>
                    </div>
                </a>
            </div>
        }
        </div>
    </section>
</section>

<app-footer></app-footer>
