<!-- Header -->
<app-header></app-header>
<!-- Page Title -->
<div class="page-title-overlap bg-accent pt-4">
    <app-account-breadcrumbs></app-account-breadcrumbs>
</div>
<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-lg-3 pe-xl-5">
                <app-acount-sidemenu></app-acount-sidemenu>
            </aside>
            <!-- Content -->
            <section class="col-lg-9 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <h1 class="h3 mb-4 pt-2 text-center text-sm-start">Crear nuevo usuario</h1>

                    <form (ngSubmit)="saveUser()" [formGroup]="userForm">
                        <div class="row gy-3 mb-4 pb-md-3 mb-2">
                            <div class="col-sm-6">
                                <label class="form-label" for="profile-name">
                                    Nombre
                                </label>
                                <input class="form-control"  id="profile-name" type="text"
                                placeholder="Juan">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="profile-username">
                                    Apellido
                                </label>
                                <input class="form-control" id="profile-username" formControlName="username" type="text"
                                    placeholder="Gutierrez">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="profile-uid">
                                    Celular
                                </label>
                                <input class="form-control" id="profile-uid"  type="text"
                                placeholder="314 222 02 02">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="profile-email">
                                    Email
                                </label>
                                <input class="form-control" id="profile-email"  type="email"
                                placeholder="agregar correo">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="profile-email">
                                    Contraseña
                                </label>
                                <input class="form-control" id="profile-email"  type="password"
                                placeholder="Ingrese contraseña">
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="profile-bio">
                                    Descripción corta 
                                </label>
                                <textarea class="form-control" id="profile-bio" rows="4" formControlName="bio"
                                    placeholder="Realiza un descripción corta de su perfil"></textarea>
                                <span class="form-text">
                                    0
                                    de 300 caracteres.
                                </span>
                            </div>
                        </div>
                        
                        <!-- Submit -->
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-accent mr-sm-6 mb-sm-6 mb-8" type="submit">
                                Guardar
                            </button>
                            
                            
                            <button class="btn btn-accent" type="submit" routerLink="/usuarios">
                                Cancelar
                            </button> 

                            <label for="customer-image-input" class="btn btn-outline-accent mb-2 ms-2"
                            type="button"><i class="ci-loading me-2"></i>Cargar foto de perfil</label>
                            <div class="pt-1 mb-0 fs-sm text-muted">
                                Se recomienda asignar una imagen 400x400. 
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Footer -->
<app-footer></app-footer>