<!-- Sign in / sign up modal-->
<!-- <ng-template role="document" let-modal> -->
    <div class="modal-content">
      <div class="modal-header bg-light">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item" [ngbNavItem]="1">
            <a ngbNavLink class="nav-link fw-medium" href="javascript:void(0);" data-bs-toggle="tab" role="tab"
              aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Iniciar sesión</a>
            <ng-template ngbNavContent>

              <form (ngSubmit)="signin()" [formGroup]="formData" class="needs-validation tab-pane fade show"
                id="signin-tab">
                <div class="mb-3">
                  <label class="form-label" for="si-email">Correo Electronico</label>
                  <input class="form-control" type="email" id="si-email" placeholder="sebas@tdea.edu.co"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }">

                    @if(submitted && form['email'].errors){
                    <div class="invalid-feedback">
                      @if(form['email'].errors['required']){
                    <span>Please provide a valid email address.</span>
                      }
                  </div>
                }
                </div>
                <div class="mb-3">
                  <label class="form-label" for="si-password">Contraseña</label>
                  <div class="password-toggle">
                    <input class="form-control" [type]="fieldTextType ? 'text' : '*******'" id="si-password"
                      formControlName="password" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }">

                      @if(submitted && form['password'].errors){
                      <div class="invalid-feedback">
                        @if(form['password'].errors['required']){
                      <span>Please provide a valid password.</span>
                        }
                    </div>
                  }
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <!-- <i class="mdi mdi-eye"></i> -->
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"
                        [ngClass]="fieldTextType ? 'mdi-eye-off-outline':'mdi-eye-off-outline'"
                        (click)="toggleFieldTextType()"></span>
                    </label>
                  </div>

                </div>
                <div class="mb-3 d-flex flex-wrap justify-content-between">
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="si-remember">
                    <label class="form-check-label" for="si-remember">Recuerdame</label>
                  </div><a class="fs-sm" href="javascript:void(0);">¿Has olvidado tu contraseña?</a>
                </div>
                <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Iniciar</button>
              </form>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="2">
            <a ngbNavLink class="nav-link fw-medium" href="javascript:void(0);" data-bs-toggle="tab" role="tab"
              aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Registrarse</a>

            <ng-template ngbNavContent>
              <form (ngSubmit)="signup()" [formGroup]="signupformData" class="needs-validation tab-pane fade show"
                autocomplete="off" novalidate id="signup-tab">
                <div class="mb-3">
                  <label class="form-label" for="su-name">Nombres</label>
                  <input class="form-control" type="text" id="su-name" placeholder="" formControlName="name"
                    [ngClass]="{ 'is-invalid': signupsubmit && signupform['name'].errors }">

                    @if(signupsubmit && signupform['name'].errors){
                    <div class="invalid-feedback">
                      @if(signupform['name'].errors['required']){
                    <span>Por favor, introduzca su(s) nombre(s).</span>
                      }
                  </div>
                }
                </div>
                <div class="mb-3">
                  <label class="form-label" for="su-name">Apellidos</label>
                  <input class="form-control" type="text" id="su-lastname" placeholder="" formControlName="lastname"
                    [ngClass]="{ 'is-invalid': signupsubmit && signupform['lastname'].errors }">

                    @if(signupsubmit && signupform['lastname'].errors){
                    <div class="invalid-feedback">
                      @if(signupform['lastname'].errors['required']){
                    <span>Por favor, introduzca su(s) apellido(s).</span>
                      }
                  </div>
                }
                </div>
                <div class="mb-3">
                  <label for="su-email">Direccion correo electronico</label>
                  <!-- <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required> -->
                  <input class="form-control" type="email" id="si-email" placeholder="sgutiere@correo.tdea.edu.com"
                    formControlName="email" [ngClass]="{ 'is-invalid': signupsubmit && signupform['email'].errors }"
                    required>
                  @if(signupsubmit && signupform['email'].errors){
                  <div class="invalid-feedback">
                    @if(signupform['email'].errors['required']){
                    <span>Please provide a valid email address.</span>
                    }
                  </div>
                }
                </div>
                <div class="mb-3">
                  <label class="form-label" for="su-password">Contraseña</label>
                  <div class="password-toggle">
                    <input class="form-control" [type]="signupPassfield ? 'text' : 'Contraseña'" id="su-password" required
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': signupsubmit && signupform['password'].errors }">
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"
                        [ngClass]="{'mdi-eye-off-outline': !signupPassfield, 'mdi-eye-outline': fieldTextType
                    }" (click)="togglesignupPassfield()"></span>
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="su-password-confirm">Confirme su contraseña</label>
                  <div class="password-toggle">
                    <input class="form-control" type="password" id="su-password-confirm" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Registrarse</button>
              </form>
            </ng-template>
          </li>
        </ul>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="closemodal()"></button>
      </div>
      <div class="modal-body tab-content py-4">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  <!-- </ng-template> -->
